@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

body {
    font-family: 'IBM Plex Mono', monospace;
}

.bdos {
    top: 50vh;
    left: 50vw;
    align-items: center;
    position: fixed;
    transform: translate(-50%, -50%);
}

.bdos .bdostitle {
    /**/
}