.headerbar {
    width: 100%;
    height: 60px;
    border: none;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #a8a8a8;
    border-radius: 10px;
    align-content: center;
    display: flex;
    position: fixed;
}

.headerbar .left, .right {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.headerbar .left .btn {
    margin-left: 10px;
    will-change: filter;
    transition: filter 300ms;
}

.headerbar .left .btn:hover {
    filter: drop-shadow(0px 15px 20px #a8a8a8);
}

.headerbar .right {
    margin-left: auto;
    margin-right: 10px;
    will-change: filter;
    transition: filter 300ms;
}

.headerbar .right:hover {
    filter: drop-shadow(0px 15px 20px #a8a8a8);
}


.headerbar .right .searchbar {
    width: 300px;
    height: 40px;
    overflow: hidden;
    align-content: center;
    display: flex;
    border-radius: 10px;
    border: 1px solid #a8a8a8;
}

.headerbar .right .searchbar .textfield {
    width: 260px;
    height: 100%;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: none;
    border-right: 1px solid #a8a8a8;
}

.headerbar .right .searchbar .btn {
    width: 40px;
    height: 100%;
    border-left: 0px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}