.btnStyle1 {
    background-color: transparent;
    width: 100px;
    height: 40px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.btnStyle1:hover {
    background-color: #B4B4B4;
    transition: all 0.3s ease-in-out;
}