.settingsDiv {
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    background-color: rgba(55, 55, 71, 0.562);
    width: 100vw;
    height: 100vh;
}

.settingsDiv .settingsForm {
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    border-radius: 5mm;
    width: 50vw;
    height: 50vh;
    flex-direction: row;
}

.settingsDiv .settingsForm .settingsTitle {
    top: 15px;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
}

.settingsDiv .settingsForm .settingsLabel1 {
    top: 80px;
    left: 40px;
    position: fixed;
    transform: translate(-50%, -50%);
}

.settingsDiv .settingsForm .settingsLabel2 {
    top: 120px;
    left: 55px;
    position: fixed;
    transform: translate(-50%, -50%);
}

.settingsDiv .settingsForm .settingsSelect {
    top: 80px;
    right: -10px;
    position: fixed;
    transform: translate(-50%, -50%);
    border: none;
    background-color: white;
    border-radius: 4px;
}

.settingsDiv .settingsForm .settingsSelect:hover {
    background-color: rgb(104, 104, 104);
    transition: all ease-in-out 0.4s;
}
